/* CARDÁPIO */
.cardapio {
  margin: auto;
  width: 50vw;
  height: 85vh;
  background-color: var(--branco);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.sabores-container {
  margin: auto;
  width: 90%;
  height: 95%;
  background-color: var(--cinza-escuro);
  border-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}

.tamanho-pizza {
  width: 95%;
  height: 15%;
  background-color: var(--cinza);
  border-radius: 2.4rem;
  margin-top: 2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tamanho-txt {
  color: #4f4f68;
  font-size: 1.8rem;
  margin: auto;
  width: 75%;
  height: 20%;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.sabores-pizza {
  width: 95%;
  height: 75%;
  background-color: var(--cinza);
  margin-bottom: 2.4rem;
  border-radius: 2.4rem;
  overflow-y: scroll;
}

/* FOOTER + STATUS */
footer {
  margin: auto;

  width: 50%;
  height: 5vh;
  background-color: #4f4f68;
  color: #fff;
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer .status {
  font-weight: 600;
  color: var(--verde);
}
